.add-memory-button {
  margin-right: 50px;
  background-color: #ffc107
}

.back-button {
  float: right;
  margin-right: 20px;
  background-color: brown
}

.center-headline {
  display: flex;
  justify-content: center;
  font-family: 'Caveat';
  font-size: 70px;
}
.center-paragraph {
  display: flex;
  justify-content: center;
  font-family: 'Kalam';
  font-size: 40px;
  margin-left: 400px;
  margin-right: 400px;
}

.container-background {
  background-color: gainsboro
}


.cover-background {
  background-image: url('https://ak0.picdn.net/shutterstock/videos/1917250/thumb/1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.cover-headline {
  font-family: 'Graduate', serif;
  font-weight: bold;
  font-size: 150px;
  text-shadow: 4px 4px 4px darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height:20vh;  
  color: white;
}

.cover-sub-headline {
  font-family: 'Kalam';
  display: block;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  line-height: 1em;
  font-size: 55px;
  color: white;
}

.form {
  font-family: 'Kalam';

}
.gallery-background {
  background-color: gainsboro;
}

.input-group {
  margin-left: 20px;
} 

.input-text {
  background-color: #ffc107
}

.join-background {
  font-size:x-large;
  background-image: url('https://wallpapercrafter.com/desktop1/663837-paper-texture-yellow-backgrounds-striped-copy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 145vh;
 
}

.join-border {
  height: 120vh;
  width: 600px;
  position: relative;
  border: 5px solid brown;
  background-color:floralwhite
  
}



.join-form-background {
  background-color: white;
 
}

.list-group-flush {
  font-weight: bold;
}

.login-background {
  background-image: url('https://wallpapercrafter.com/desktop1/663837-paper-texture-yellow-backgrounds-striped-copy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.login-border {
  height: 70vh;
  width: 600px;
  font-family: 'Kalam';
  font-size: x-large;
  position: relative;
  border: 5px solid brown;
  background-color: floralwhite;
}

.member-background {
  background-image: 'https://wallpapercrafter.com/desktop1/663837-paper-texture-yellow-backgrounds-striped-copy.jpg';
  background-repeat: no-repeat;
  
  height: 1000vh;
  
}

.member-bio-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-card-body {
  background-color:whitesmoke
}

.memory-background {
  background-image: url('https://wallpapercrafter.com/desktop1/663837-paper-texture-yellow-backgrounds-striped-copy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100
}

.memory-border {
  height: 70vh;
  width: 600px;
  position: relative;
  border: 5px solid brown;
  background-color:floralwhite
}

.nav {
  font-family: 'Caveat';
  font-size: 30px;
  font-stretch: absolute;
}