.add-memory-button {
  margin-right: 50px;
  background-color: #ffc107
}

.cover-background {
  background-image: url('https://ak0.picdn.net/shutterstock/videos/1917250/thumb/1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover-description {
  font-family: 'Kalam';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  color: white;
}

.cover-sub-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: white;
}

.center-headline {
  display: flex;
  justify-content: center;
  font-family: 'Caveat';
  font-size: 70px;
}

.cover-headline {
  font-family: 'Graduate', serif;
  font-weight: bold;
  font-size: 150px;
  text-shadow: 4px 4px 4px darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;  
  color: white;
}

.form {
  font-family: 'Kalam';

}

.input-group {
  margin-left: 20px;
} 

.input-text {
  background-color: #ffc107
}

.join-background {
  font-family: 'Kalam';
  font-size: larger;
  background-image: url('https://classroomclipart.com/images/gallery/Clipart/School/yellow-legal-pad-clipart-75011.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
 
}

.join-border {
  height: 100%x;
  width: 600px;
  position: relative;
  border: 3px solid brown
}



.join-form-background {
  background-color: white
}

.login-background {
  background-image: url('https://classroomclipart.com/images/gallery/Clipart/School/yellow-legal-pad-clipart-75011.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100
}


.login-border {
  height: 675px;
  width: 600px;
  position: relative;
  border: 3px solid brown
  }


.login-container {
  height: 350px;
  width: 500px;
  position: relative;
  border: 3px solid brown;
}

.memory-background {
  background-image: url('https://classroomclipart.com/images/gallery/Clipart/School/yellow-legal-pad-clipart-75011.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100
}

.nav {
  font-family: 'Caveat';
  font-size: 25px;
}