.add-memory-button {
  margin-right: 50px;
  background-color: #ffc107;
  width: fluid;
}

.addreunionphoto-container {  
  margin-right: auto;
  margin-left: auto;
  width: fluid;
}

.back-button {
  float: right;
  margin-right: 20px;
  margin-top: 30px;
}

.bio-card {
  height: 100%;
}

.bio-card-body {
  background-color: whitesmoke;
  width: fluid;
  height: auto;
}

.bio-col {
  margin-top: 30px;
  display: flex;
  width: fluid;
  justify-content: center;
  align-items: center;
}

.bio-container {
  height: auto;
}

.bio-image {
object-fit: cover;
margin-left: auto;
margin-right: auto;
width: fluid;
image-resolution: from-image;
image-resolution: 100dpi;
image-resolution: from-image 100dpi;
image-resolution: 100dpi snap;
image-resolution: inherit;
image-resolution: initial;
image-resolution: revert;
image-resolution: revert-layer;
image-resolution: unset;
}

.card-title {
  justify-content: center;
  width: fluid;
}

.center-headline {
  margin-left: auto;
  margin-right: auto;
  width: fluid;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Playfair";
  font-size: 50px;
}
.center-paragraph {
  display: flex;
  justify-content: center;
  width: fluid;
  font-family: "Playfair";
  font-size: 40px;
  margin-left: 400px;
  margin-right: 400px;
}

.comment-input {
  margin-left: 50px;
}

.container-background {
  background-color: gainsboro;
  width: fluid;
  justify-content: center;
  align-items: center;
}

.cover-background {
  background-image: url("https://ak0.picdn.net/shutterstock/videos/1917250/thumb/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: fluid;
}

.cover-headline {
  font-family: "Graduate", serif;
  font-weight: bold;
  font-size: 150px;
  text-shadow: 4px 4px 4px darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: fluid;
  color: white;
}

.cover-sub-headline {
  font-family: "Playfair";
  display: block;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  width: fluid;
  text-align: center;
  line-height: 1em;
  font-size: 55px;
  color: white;
}

.cover-p-sub-headline {
  font-family: "Playfair";
  display: block;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  line-height: 1em;
  font-size: 55px;
  width: fluid;
  color: white;
}

.form {
  font-family: "Playfair";
}

.input-group {
  margin-left: 20px;
  width: fluid;
}

.input-text {
  background-color: #ffc107;
  width: fluid;
}

.join-background {
  font-size: x-large;
  background-repeat: no-repeat;
  background-size: cover;
  height: 145vh;
  width: fluid;
}

.join-border {
  height: 120vh;
  width: 600px;
  position: relative;
  border: 5px solid brown;
  background-color: floralwhite;

}

.join-form-background {
  background-color: white;
}

.list-group-flush {
  font-size: medium;
  max-height: 200px;
  text-overflow: ellipsis
}

.login-background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login-border {
  height: 70vh;
  width: 600px;
  font-family: "Playfair";
  font-size: x-large;
  position: relative;
  border: 5px solid brown;
  background-color: floralwhite;
}

#logout {
  cursor: pointer;
}

.map {
  height: auto;
  width: 450px;
  padding: 20px;
}

.member-card-body {
  background-color: whitesmoke;
  width: fluid;
  height: 28vh;
}

.members-card-image {
  margin-left: auto;
  margin-right: auto;
  width: fluid;
  height: 50vh;
  object-fit: cover;
}

.members-container {
  display: flex;
  height: auto;
  width: fluid;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.member-subtitles {
  font-weight:100;
  width: fluid;
}

.memory-border {
  height: 70vh;
  width: 600px;
  position: relative;
  border: 5px solid brown;
  background-color: floralwhite;
}

.memory-card-body {
  margin-left: auto;
  margin-right: auto;
  width: fluid;
}

.memory-headline {
  margin-left: 190px;
  display: flex;
  justify-content: center;
  font-family: "Playfair";
  font-size: 50px;
  width: fluid;
}

.memories-border {
  width: 1200px;
  position: relative;
  border: 2px solid grey;
}

.memories-image {
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  width: fluid;
  object-fit: cover;
}

.nav {
  font-family: "Playfair";
  font-size: 30px;
  font-stretch: absolute;
  width: fluid;
  align-items: center;
  justify-content: center;
}

.nextReunionButton {
  float: 'right';
  margin-right: 20px;
  margin-top: -56px;
}

.nextReunion-card-col {
  height: auto;
  width: fluid;
  padding: 20px;
}

.nextReunion-container {
  width: fluid;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nextReunion-headline {
  display: flex;
  width: fluid;
  justify-content: center;
  
  font-family: "Playfair";
  font-size: 50px;
}

.nextReunion-image-col {
  height:auto;
  width: fluid;
  padding: 20px;
}

.nextReunion-image {
  object-fit: cover;
}

.nextReunion-map-container {
  height: 80vh;
  width: 100%;
}

.nextReunion-map-col {
  height: auto;
  width: 400px;
  padding: 20px;
}

.profile-card-body {
  background-color: whitesmoke;
  height: auto;
  width: fluid;
}

.profile-col {
  margin-top: 90px;
  display: flex;
  width: fluid;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.profile-headline {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  font-family: "Playfair";
  font-size: 50px;
  width: fluid;
}

.profile-image {  
object-fit: cover;
margin-left: auto;
margin-right: auto;
justify-content: center;
align-items: center;
width: 70%;
height: auto;
image-resolution: from-image;
image-resolution: 100dpi;
image-resolution: from-image 100dpi;
image-resolution: 100dpi snap;
image-resolution: inherit;
image-resolution: initial;
image-resolution: revert;
image-resolution: revert-layer;
image-resolution: unset;
}

.reunion-card-body {
  height: 35vh;
  background-color: whitesmoke;
}

.reunion-card-image {
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  object-fit: cover;
}

.reunion-headline {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  font-family: "Playfair";
  font-size: 50px;
  width: fluid;
}

.reunionPhotos-card-body {
  height: 15vh;
  background-color: whitesmoke;
}

.reunionPhotos-card-image {
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  object-fit: cover;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.reunionPhotos-button {
  margin-right: 20px;
  margin-top: -60px;
}

.reunionPhotos-card {
  margin-left: auto;
  margin-right: auto;
}

.reunionPhotos-container {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: fluid;
}

.reunions-container {
  margin-left: auto;
  margin-right: auto;
}
